<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        .iframe {
            border: 10px;
        }
    </style>
</head>

<body>


    <h2>Section One</h2>
    <section class="first-section">
        <button class="create-button" id="createButton">Create Snapshot</button>
        <div class="show-state" id="showInfo">
            <!--快照信息-->
        </div>
        <div class="show-state" id="showState">
            <!--快照状态-->
        </div>
    </section>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript">
        namespace = '/getStatus';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('server_response', function (res) {
            console.log(res.data)
            if (res.data.state == 'completed') {
                $("#showState").text('state: ' + res.data.state + ', ' + 'progress: ' + res.data.progress);
                // socket.close()
                $.ajax({
                    type: "get",
                    url: "/complete",
                    success: function (response) {
                        console.log("rquest compelet")
                    }
                });
            }
            $("#showState").text('state: ' + res.data.state + ', ' + 'progress: ' + res.data.progress);
        })
        /*Section One*/
        /*创建按钮*/
        $('#createButton').click(function () {
            $.ajax({
                type: "post",
                url: "/createSnapshot",
                async: true,
                contentType: "application/json",
                success: function (data) {
                    console.log('>>>>>>>')
                    console.log(data)
                    $('#showInfo').empty().append(data);
                    getSnapshotStatus()

                },
                error: function (data) {
                }
            });
        })

        /*获取快照状态和进度*/
        function getSnapshotStatus() {

        }
    </script>
</body>

</html>