<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        .iframe {
            border: 10px;
            display: none;
        }
    </style>
</head>

<body>

<h2>Section Two</h2>
<section class="second-section">
    <div class="center-div">
        <div class="upload-button">
            <form id="upload" action="/upload" method="post" enctype="multipart/form-data" target="nm_iframe">
                <input id="uploadInput" type="file" class="upload-input" name="upload_file"/>
                <button id="uploadInputButton" type="submit" class="upload_label">Upload File</button>
                {#                <input id="uploadInputButton" type="button" class="upload_label" value="Upload File"></input>#}
                <div class="upload-state" id="uploadstate">
                    <!--上传进度-->
                </div>
                <div class="upload-progress" id="uploadprogress">
                    <!--上传进度-->
                </div>
            </form>
        </div>
        <p></p>
        {#        <div></div>#}
        <div>
            <button class="click-view" id="clickView">DownLoad Link</button>
        </div>
    </div>
    <div class="show-state" id="previewBox">
        <!--这里展示下载地址啥的-->
    </div>
    <iframe class="iframe" id="id_iframe" name="nm_iframe"></iframe>

</section>
<script type="text/javascript" src="{{ url_for('static',filename='jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='socket.io.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript">
    /*Section Two*/
    console.log("load")
    namespace = '/getUploadProgress';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
    socket.on('server_response', function (res) {
        console.log(res.data)
        $("#uploadprogress").text('uploading progress: ' + Number(res.data).toFixed(2) + "%");
        if (res.data >90) {
            res.data = 100
        }
        if (res.data == '100') {
            $("#uploadprogress").text('uploading progress: ' + res.data + "%");
            // socket.close()
            $.ajax({
                type: "get",
                url: "/complete",
                success: function (response) {
                    console.log("request complete")
                }
            });
        }
    });

    /*获取下载链接*/
    $('#clickView').click(function () {
        $('#previewBox').empty()
        {#$('#previewBox').empty().append('下载地址!');#}
        $.ajax({
            type: "post",
            url: "/getUrl",
            async: true,
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                $('#previewBox').empty().append(data);
            },
            error: function (data) {
            }
        });
    })

    /*点击按钮清除缓冲区数据*/
    $('#uploadInputButton').click(function () {
        $('#uploadprogress').empty()
        $('#previewBox').empty()
        $('#id_iframe').empty()
        document.getElementById("id_iframe").contentWindow.document.body.innerText = "";
    })

</script>
</body>
</html>